

.fab{
    background-color: #00acff;
    border-radius: 100%;
    border: none;
    bottom: 25px;
    font-size: 30px;
    height: 60px;
    position: fixed;
    right: 25px;
    width: 60px;
    z-index: 2;
}